@import "bourbon/bourbon";
@import "neat/neat";
@import "base/base";

$visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;
$light-grey: #ececec;
$bright-green: #86CE7C;
$green: #98CE96;
$green-three: #BCED92;
$card-height: 14vw;

/* general */
#container{
  margin: 0 auto;
}

/* header */
.title {
  background-color: $light-grey;
  padding: 0.5em 1em;
  text-align: center;
  font-size: 40px;
  margin-bottom:0px;
}

/* rows */
#dealer-row{
  background-color: $green;
  #hand-info{
    @include outer-container;
  }
}

#player-row{
  background-color: $bright-green;
}

#hand-info{
  @include outer-container;
  padding: 1% 2.5%;
}

/* cards */
img{
  height: $card-height;
}

div.card { @include span-columns(2);
        height: $card-height;
        background-color: $green-three;
        }

.cards{
  @include outer-container;
  padding-top:3%;
}


/* controls */
.hit-or-stand {
  background-color: $light-grey;
  padding: 0.5em 1em;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* footer */
footer {
  @include outer-container;
  padding: 1em 1em;

  #credit {
    float: right;
    text-align: right;
  }
  #me {
    float:left;
  }
}
